body{
    font-family: "Alegreya Sans SC", serif;
    background-image: url("../images/concrete_seamless.png") ;
    background-color: #f1f1f1;
    

}

#logo{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}


@keyframes slidein {
    from {
    margin: auto;
      opacity: 0;
      width: 50px;
    }
  
    to {
        margin: auto;
      opacity: 1;
      width: 425px;
    }
  }

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: static;
    

}



a { 
    color: blue;
}

.nav_links{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    

}

.card{
    flex-basis: 450px;
}

.card > header{
    background-color: #288088;
    border-style: solid;
    border-color: #45ADAD;
    border-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0px 0px;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.gallery > img{
    width: 300px;
    border-style: solid;
    border-color: #50C7C7;
    border-width: 10px;
    margin: 10px;
}

#logo{
        
    animation-duration: 5s;
    animation-name: grow;
    animation-iteration-count: 1;
}


@keyframes grow {
    from {
    margin: left;
      opacity: 0;
      width: 50px;
    }
  
    to {
    margin: left;
      opacity: 1;
      width: 425px;
    }
  }

  .thumb{
      display: none;
  }

@media screen and (min-width: 850px){

    

  

      .top-header{
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }


    .nav_links{
        flex-direction: row;
    }

    .card{
        flex-basis: 250px;
    }
}



    @media (prefers-reduced-motion) {
        * {
            animation-duration: 0.001ms !important;
            animation-iteration-count: 1 !important; 
            transition-duration: 0.001ms !important;
            animation: none;
          
        }  
    }  

    @media print{

        header{
            display: flex;
            flex-direction: column;
        }

        body{
            background-image: none;
            background-color: #ffffff;

        }

        nav{
            justify-content: space-around;
            width: 100%;
        }

        .nav_links{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .thumb{
            display: inline;
        }

        .card{
            flex-basis: 250px;
            border-style: solid;
            border-width: 2px;
            border-color: #45addd;
        }

        .pricing{
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-end;
        }

        .gallery{
            display: none;
        }

        #gallery{
            display: none;
        }

       
}
